body {
	background: #fff;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,code,pre,input,button,textarea,label {
	margin: 0.75em 10px;
}

img {
	padding: 10px;
}

code, pre {
	background: #ddd;
	padding: 0.5em;
	box-sizing: border-box;
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
}

aside, main {
	box-sizing: border-box;
}

aside {
	width: 29%;
	min-width: 180px;
	display: inline-block;
	vertical-align: top;
	position: fixed;
	left: 0;
	top: 50px;
	padding: 0 1em 1em 0;
}

main {
	float: right;
	width: 70%;
	height: 100%;
	display: inline-block;
	padding: 0 1em 1em 0;
}

header {
	display: flex;
	align-items: center;
	margin: 0;
	background: #fff;
	width: 100%;
}
header > * {
	display: inline-block;
}

nav {
	vertical-align: middle;
}
nav li a {
	text-decoration: none;
	padding: 0.75em;
	background: ##ddd;
	color: black;
	border-bottom: 1px solid #666;
	width: 100%;
	box-sizing: border-box;
	display: block;
}
nav li:first-child a {
	border-top: 1px solid #666;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul li {
	display: block;
}

section {
	margin-bottom: 4ex;
	padding-bottom: 4ex;
	box-sizing: border-box;
	border-bottom: 2px solid #000;
}
form > * {
	display: block;
	margin: 1em 0;
	box-sizing: border-box;
}
form label span {
	width: 140px;
	text-align: left;
	display: inline-block;
	background: #fff;
}
form textarea {
	width: 400px;
	height: 200px;
}
input, textarea, button {
	border-radius: 4px;
	background: #fff;
	border: 1px solid #999;
	padding: 0.3em;
}
#video {
	width: 100%;
	max-width: 560px;
}
.icon {
	float: right;
	padding: 10px;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: none;
	background: rgba(255,255,255,0.7);
}
.hide {
	display: none !important;
}
textarea {
	display: block;
	width: 75%;
	height: 20ex;
}

@media only screen and (max-width: 600px) {
	.icon {
		display: block;
	}
	.menu-hide {
		display: none !important;
	}
	#navbar:not(.menu-hide) {
		background: #fff;
	}
	aside {
		padding: 0;
		width: 100%;
		top: 0;
	}
	main {
		width: 100%;
		margin-top: 20px;
	}
}