:root {
	--wb-color-lite: #ccc;
	--wb-color-dark: #333;
	--wb-color-bg: #fff;
	--wb-color-elem: #000;
	--wb-small-width: 400px;
	--wb-anim-time: 0.1s;
}
label.wb {
	display: inline-block;
	user-select: none;
}
label.wb > * {
	vertical-align: middle;
}
label.wb::selection {
	background: transparent;
}
.wb input {
	display: none;
}
.wb-switch span.wb {
	cursor: pointer;
	display: inline-block;
	width: 50px;
	height: 25px;
	background-color: var(--wb-color-lite);
	transition: var(--wb-anim-time);
	border-radius: 999px;
}
.wb-switch .wb:after {
	display: inline-block;
	content: "";
	height: 19px;
	width: 19px;
	margin-left: 3px;
	margin-top: 3px;
	background-color: var(--wb-color-bg);
	transition: var(--wb-anim-time);
	border-radius: 100%;
}
.wb-switch input:checked + span.wb {
	background-color: var(--wb-color-dark);
}
.wb-switch input:focus + span.wb {
	box-shadow: 0 0 1px var(--wb-color-dark);
}
.wb-switch input:checked + span.wb:after {
	transform: translateX(25px);
}

.wb-check span.wb, .wb-radio span.wb {
	width: 20px;
	height: 20px;
}
.wb-check .wb, .wb-radio .wb {
	cursor: pointer;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: var(--wb-color-lite);
	border: 3px solid var(--wb-color-lite);
	box-sizing: border-box;
	transition: var(--wb-anim-time);
}
.wb-check input:checked + .wb, .wb-radio input:checked + .wb {
	background: var(--wb-color-dark);
}
.wb-radio, .wb-radio .wb {
	border-radius: 42069px;
}

.wb.wb-nav {
	position: relative;
	z-index: 10;
}
.wb.wb-nav label.wb {
	cursor: pointer;
	display: block;
	background: var(--wb-color-lite);
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
}
.wb.wb-nav .wb-burger-icon, .wb.wb-nav .wb-burger-icon:before, .wb.wb-nav .wb-burger-icon:after {
	width: 30px;
	height: 5px;
	background: var(--wb-color-dark);
	border-radius: 42069px;
	display: inline-block;
}
.wb.wb-nav .wb-burger-icon:before, .wb.wb-nav .wb-burger-icon:after {
	content: "";
	display: inline-block;
}
.wb.wb-nav .wb-burger-icon:after {
	margin-bottom: 9px;
}
.wb.wb-nav .wb-burger-icon {
	margin-top: 2px;
	transition: 0.1s;
}
.wb.wb-nav input:checked ~ .wb-burger-icon {
	transform: rotate(45deg);
	margin-top: 18px;
}
.wb.wb-nav input:checked ~ .wb-burger-icon:before {
	opacity: 0;
}
.wb.wb-nav input:checked ~ .wb-burger-icon:after {
	transform: rotate(-90deg) translate(18px,0);
}
.wb.wb-nav section {
	background: var(--wb-color-bg);
	position: absolute;
	margin-top: 15px;
	display: none;
	width: 100%;
	z-index: 10;
}
.wb.wb-nav section li a:hover {
	background: var(--wb-color-lite);
}
.wb.wb-nav input:checked ~ section {
	display: block;
}

@media only screen and (min-width: 600px) {
	.wb.wb-nav.wb-responsive .wb-burger-icon {
		display: none;
	}
	.wb.wb-nav.wb-responsive section {
		display: block;
		margin: 0;
	}
}

@media only screen and (max-width: 600px) {
	.wb.wb-nav.wb-responsive label.wb{
		float: right;
	}
	.wb.wb-nav.wb-responsive section {
		left: 0;
	}
}